body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  height: 100%; }

.content-cont {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%; }
  .content-cont .footer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #000 url("../_img/story-bg-1.jpg") no-repeat center center/cover; }
    .content-cont .footer h1 {
      color: white;
      text-align: center;
      font-size: 107px;
      width: 80%; }

.products {
  position: absolute;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: .6s;
  -webkit-transition-duration: .6s;
  transition-duration: 10s; }
  .products[data-color="red-hat"] {
    background: #AC0008; }
  .products[data-color="blue-hat"] {
    background: #25297D; }
  .products[data-color="green-hat"] {
    background: #103A26; }
  .products[data-color="black-hat"] {
    background: #0C0C0C; }
  .products li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5vw;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: .6s;
    -webkit-transition-duration: .6s;
    transition-duration: .6s; }
    .products li.product {
      opacity: 0;
      height: 0; }
      .products li.product.active {
        height: 100%;
        opacity: 1; }
    .products li#Red_Hat {
      z-index: 10;
      background-attachment: fixed; }
      .products li#Red_Hat .col-9 {
        /*background: url("../_img/red-hat.png") no-repeat 72% 50%/62%;*/
        background-attachment: fixed; }
      .products li#Red_Hat .col-3 a:hover {
        color: #FF3B3D; }
    .products li#Green_Hat {
      z-index: 9;
      /*background: radial-gradient(ellipse farthest-corner at 61% 1px, #20926A 0%, #103A26 62%);*/
      background-attachment: fixed; }
      .products li#Green_Hat .col-9 {
        /*background: url("../_img/green-hat.png") no-repeat 72% 50%/62%;*/
        background-attachment: fixed; }
      .products li#Green_Hat .col-3 a:hover {
        color: #20926A; }
    .products li#Blue_Hat {
      z-index: 8;
      /*background: radial-gradient(ellipse farthest-corner at 61% 1px, #575FAE 0%, #25297D 62%);*/
      background-attachment: fixed; }
      .products li#Blue_Hat .col-9 {
        /*background: url("../_img/blue-hat.png") no-repeat 72% 50%/62%;*/
        background-attachment: fixed; }
      .products li#Blue_Hat .col-3 a:hover {
        color: #575FAE; }
    .products li#Black_Hat {
      z-index: 7;
      /*background: radial-gradient(ellipse farthest-corner at 61% 1px, #5F5E5A 0%, #0C0C0C 62%);*/
      background-attachment: fixed; }
      .products li#Black_Hat .col-9 {
        /*background: url("../_img/black-hat.png") no-repeat 72% 50%/62%;*/
        background-attachment: fixed; }
      .products li#Black_Hat .col-3 a:hover {
        color: #5F5E5A; }
    .products li.active {
      opacity: 1; }
      .products li.active .col-9 {
        opacity: 1; }
  .products .col-3 {
    width: 25%; }
    .products .col-3 h2 {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      font-size: 36px;
      margin-top: 0; }
    .products .col-3 a {
      text-decoration: none;
      color: white;
      text-align: center;
      display: inline-block;
      line-height: 0;
      padding: 24px 16px;
      border: 2px solid white;
      font-size: 14px;
      letter-spacing: .5px;
      text-transform: uppercase;
      transition-property: background color;
      transition-duration: .3s; }
      .products .col-3 a:hover {
        background: white; }
  .products .col-9 {
    height: 100%;
    width: 75%;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition-property: opacity;
    transition-duration: .7s; }
    .products .col-9 img {
      display: block;
      width: 100%;
      height: auto; }
